nav {
	border-bottom: 1px solid grey;
}
.tab, .tab:visited {
	display: inline-block;
	background-color: #ddd;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 6px 0;
	text-align: center;
	width: 120px;
	text-decoration: none;
	vertical-align: bottom;
	color: grey;
}
.tab.active {
	background-color: orange;
	padding-bottom: 7px;
	position: relative;
	top: 1px;
	color: darkblue;
}