.addCar {
	margin-bottom: 20px;
}
.inventory {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}
.car {
	cursor: pointer;
	padding: 0;
	padding-right: 20px;
	background-color: #ddd;
	color: grey;
}
.badge {
	background-color: lightblue;
	padding: 6px;
	display: inline-block;
	width: 20px;
}
.selected {
	background-color: darkblue;
	color: #fff;
}
.selected .badge {
	background-color: blue;
	color: #fff;
}